@import "../../scss/config";

$img_size: 120px;
.about {
  .section-title {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    .about__image {
      height: $img_size;
      width: $img_size;
      border-radius: 50%;
      box-shadow: -1px 2px 3px 1px #464646;
      margin: 10px;
      padding: 1px;
      position: relative;
      // margin: 0 auto;
    }
  }
}

// Responsive
@include mediaMd {
  .about__wrapper {
    flex-direction: row;
  }
}
