@import "../../scss/config";
$primary-color: #cecece;
$shadow-color: rgba(0, 0, 0, 0.3);
$nav-size: 40px;

.jumbotron {
  background-image: url("https://raw.githubusercontent.com/kurniawan2805/portfolio-react/master/src/img/bg500.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100vh;
  margin-top: -55px;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  p.lead {
    color: $primary-color;
    text-shadow: -2px 2px 5px $shadow-color;
    z-index: 2;
    background: $shadow-color;
  }
  p.lead {
    font-size: 1rem;
  }
}

.contact {
  i {
    color: white;
    font-size: 2rem;
    margin: 0.6rem;
  }
}

/* responsive */
// @media only screen and (min-width: 728px) {
@include mediaMd {
  .jumbotron {
    background-image: url("https://raw.githubusercontent.com/kurniawan2805/portfolio-react/master/src/img/bg1000.jpeg");
    align-items: flex-start;
  }
}

@include mediaLg {
  .jumbotron {
    background-image: url("https://raw.githubusercontent.com/kurniawan2805/portfolio-react/master/src/img/bg2000.jpeg");
    align-items: flex-start;
  }
}
