.navbar-nav {
}
.nav-item {
  margin: 0 0.7rem;

  &:hover,
  :active {
    background: #cecece;
    box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 0.3);

    border-radius: 5px;
  }
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(0, 0, 0);
}
